{% extends 'core/base.html' %}

{% block title %}Главная страница{% endblock %}
{% block content %}
<h1>Главная страница MAIN</h1>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Новые элементы</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for item in items %}
                <div>
                    <a href="{% url 'item:detail' item.id %}">
                        <div class="p-6 bg-white rounded-xl">
                            <div class="flex justify-center">
                                <img class="text-center h-60 rounded-t-xl" src="{{ item.image.url }}" alt="" >
                            </div>
                            <h2 class="text-2xl">{{ item.name }}</h2>
                            <p class="text-gray-500">Цена: {{ item.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">Категории</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for category in categories %}
                <div>
                    <a href="#">
                        <div class="p-6 bg-white rounded-xl">
                            <h2 class="text-2xl">{{ category.name }}</h2>
                            <p class="text-gray-500">{{ category.items.count }} товаров</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}